<header fxFlex="100" fxLayout="row" fxLayoutAlign="space-between center">
  <div class="header-menu" fxLayout fxLayoutAlign="start center">
    
    <button mat-button type="button" class="header-sector" (click)="toggleUnfold('sports')">
      <div fxLayoutAlign="center center" fxLayoutGap="5px">
        <div fxLayoutAlign="center center" [routerLink]="['/establecimientos']">
          <img src="/assets/images/logo-only.png" style="height: 40px;">
        </div>
      </div>
    </button>
  </div>

  <div fxFlex></div>

  <div class="header-menu actions" fxLayoutAlign="end center">
    <button mat-button type="button" class="header-sector">
        <i class="material-icons">person_outline</i>
      <span>Admin</span>
    </button>
  </div>
</header>
