<ng-container *ngIf="ofertas">
    <div class="main-container">
      <div fxLayoutAlign="space-between center">
        <div fxLayoutAlign="start center">
          <button mat-icon-button [routerLink]="['/home']">
            <i class="material-icons" style="color: white">arrow_back_ios</i>
          </button>
          <h2>Ofertas</h2>
        </div>
        <button mat-fab class="create-button" [routerLink]="['create']"><mat-icon>add</mat-icon></button>
      </div>
      <mat-accordion>
        <mat-expansion-panel *ngFor="let oferta of ofertas">
          
          <mat-expansion-panel-header>
            <mat-panel-title fxLayoutGap="1em" style="width: 200px;">
              <span>{{oferta.nombre}}</span>
            </mat-panel-title>
            <mat-panel-description>${{oferta.precio}} | Disponibilidad: {{oferta.cupo}}</mat-panel-description>
          </mat-expansion-panel-header>
          <div fxLayoutAlign="space-between center">
            <div>
              <p><strong>Establecimiento</strong> <br> {{oferta.establecimiento.nombre}}</p>
              <p *ngIf="oferta.servicios !== ''"><strong>Servicios</strong> <br> <span *ngFor="let servicio of parse(oferta.servicios)" class="servicio">{{servicio}}</span></p>
              <p><strong>Duración</strong> <br> {{oferta.fechaDesde | date}} ~ {{oferta.fechaHasta | date}}</p>
            </div>
    
            <img style="width: 100px; height: 100px;" [src]="oferta.establecimiento.fotosEstablecimiento">
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </ng-container>