main {
  padding: 2em;

  .card {
    min-width: 250px;
    padding: 1em;

    .title {
      font-size: 1.5em;
    }

    .icon {
      color: gray;
      font-size: 3em;
      margin: 0.5em;
    }
  }
}
