<main fxLayoutAlign="space-around center" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="1em">
  <mat-card fxFlex="40" [routerLink]="['/establecimientos']" class="card" fxLayout="column" fxLayoutAlign="center center">
    <i class="material-icons icon">location_city</i>
    <span class="title">Establecimientos</span>
  </mat-card>
  <mat-card fxFlex="40" [routerLink]="['/ofertas']" class="card" fxLayout="column" fxLayoutAlign="center center">
    <i class="material-icons icon">local_offer</i>
    <span class="title">Ofertas</span>
  </mat-card>
</main>