<ng-container *ngIf="establecimientos">
  <div class="main-container">
    <div fxLayoutAlign="space-between center">
      <div fxLayoutAlign="start center">
        <button mat-icon-button [routerLink]="['/home']">
          <i class="material-icons" style="color: white">arrow_back_ios</i>
        </button>
        <h2>Establecimientos</h2>
      </div>
      <button mat-fab class="create-button" [routerLink]="['create']"><mat-icon>add</mat-icon></button>
    </div>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let establecimiento of establecimientos">
        
        <mat-expansion-panel-header>
          <mat-panel-title fxLayoutGap="1em">
            <span fxFlex="200px">{{establecimiento.nombre}}</span>
            <span class="estrellas" fxLayoutGap="0.5em" fxFlex="100px">
              <span *ngFor="let estrella of 'a'.repeat(establecimiento.estrellas - 1).split('a')">★</span>
            </span>

          </mat-panel-title>
          <mat-panel-description>{{establecimiento.ciudad.nombre}}</mat-panel-description>
        </mat-expansion-panel-header>
        
        <div fxLayoutAlign="space-between center">
          <div>
            <p><strong>Dirección</strong> <br> {{establecimiento.direccion}}</p>
            <p><strong>Descripcion</strong> <br> {{establecimiento.descripcion}}</p>
          </div>
  
          <img style="width: 100px; height: 100px;" [src]="establecimiento.fotosEstablecimiento">
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</ng-container>