<h2>Crear Establecimiento</h2>

<mat-card>
  <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" novalidate>
    <div fxLayout="row wrap" fxLayout.xs="column">
      <mat-form-field class="field" fxFlex="48" fxFlex.xs="100">
        <input matInput formControlName="nombre" placeholder="Nombre">
        <mat-error *ngIf="form.get('nombre').hasError('required')">Este campo es requerido</mat-error>
        <mat-error *ngIf="form.get('nombre').hasError('maxlength')">Debe tener menos de 50 caracteres.</mat-error>
      </mat-form-field>
    
      <mat-form-field class="field" fxFlex="48" fxFlex.xs="100">
        <input matInput formControlName="direccion" placeholder="Dirección">
        <mat-error *ngIf="form.get('direccion').hasError('required')">Este campo es requerido</mat-error>
        <mat-error *ngIf="form.get('direccion').hasError('maxlength')">Debe tener menos de 50 caracteres.</mat-error>
      </mat-form-field>
    
      <mat-form-field class="field" fxFlex="48" fxFlex.xs="100">
        <input matInput formControlName="ciudad" placeholder="Ciudad" aria-label="Ciudad" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectCiudad($event)" [displayWith]="getCityName(ciudadSelected)">
          <mat-option *ngFor="let ciudad of filteredCiudades" [value]="ciudad">
            <span>{{ ciudad.city_name }}</span>
          </mat-option>
        </mat-autocomplete>
        <mat-error *ngIf="form.get('ciudad').hasError('required')">Este campo es requerido</mat-error>
        <mat-error *ngIf="form.get('ciudad').hasError('maxlength')">Debe tener menos de 50 caracteres.</mat-error>
      </mat-form-field>

      <div class="field" fxFlex="48" fxFlex.xs="100" fxLayoutAlign="start center" fxLayoutGap="1em">
        <mat-form-field>
          <mat-select formControlName="estrellas" placeholder="Estrellas">
            <mat-option *ngFor="let estrella of estrellas" [value]="estrella.value">{{ estrella.value }}</mat-option>
          </mat-select>
          <mat-error class="error-combo" *ngIf="form.get('estrellas').touched && form.get('estrellas').hasError('required')">Este campo es requeridoEste campo es requerido</mat-error>
        </mat-form-field>
        <span class="estrellas" fxLayoutGap="0.5em" *ngIf="form.get('estrellas').value">
          <span *ngFor="let estrella of 'a'.repeat(form.get('estrellas').value - 1).split('a')">★</span>
        </span>
      </div>

      <div class="field" fxFlex="48" fxFlex.xs="100" fxLayoutAlign="start center" fxLayoutGap="1em" formGroupName="mapa">
        <mat-form-field>
          <input matInput formControlName="lat" placeholder="Latitud">
          <mat-error *ngIf="form.get('mapa.lat').hasError('required')">Este campo es requerido</mat-error>
          <mat-error *ngIf="form.get('mapa.lat').hasError('maxlength')">Debe tener menos de 50 caracteres.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <input matInput formControlName="lon" placeholder="Longitud">
          <mat-error *ngIf="form.get('mapa.lon').hasError('required')">Este campo es requerido</mat-error>
          <mat-error *ngIf="form.get('mapa.lon').hasError('maxlength')">Debe tener menos de 50 caracteres.</mat-error>
        </mat-form-field>
      </div>

      <mat-form-field class="field" fxFlex="48" fxFlex.xs="100">
        <textarea matInput formControlName="descripcion" placeholder="Descripción"></textarea>
        <mat-error *ngIf="form.get('descripcion').hasError('required')">Este campo es requerido</mat-error>
        <mat-error *ngIf="form.get('descripcion').hasError('maxlength')">Debe tener menos de 100 caracteres.</mat-error>
      </mat-form-field>

      <div fxFlex="100">
        <hr>
  
        <h3>Imagen</h3>
  
        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="1em">
          <!-- <div formArrayName="fotosEstablecimiento" class="field" fxFlex="48" fxFlex.xs="100">
            <div *ngFor="let item of fotosEstablecimiento.controls; let i = index;" [formGroupName]="i" fxLayout fxLayoutAlign="start center" fxLayoutGap="1em">
              <mat-form-field class="field" fxFlex="48" fxFlex.xs="100">
                <input matInput formControlName="url" placeholder="Foto URL">
              </mat-form-field>
              <button type="button" mat-icon-button color="primary" (click)="removeFoto(i)" *ngIf="i == fotosEstablecimiento.controls.length - 1 && i !== 0">
                <mat-icon>delete</mat-icon>
              </button>
              <button type="button" mat-icon-button color="primary" (click)="addFoto()" *ngIf="i == fotosEstablecimiento.controls.length - 1">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div> -->
  
          <div class="field" fxFlex="48" fxFlex.xs="100" fxLayout="row wrap" fxLayoutGap="5px">
            <!-- <i fxFlex="100">{{imageUrl}}</i> -->
            <img style="width: 50px; height: 50px;" *ngFor="let image of images" (click)="loadImage(image)" [src]="'data:image/jpeg;base64,' + image">
          </div>

          <div class="field" fxFlex="48" fxFlex.xs="100" fxLayout="row wrap" fxLayoutGap="5px" style="padding-bottom: 2em;" *ngIf="imageLoaded">
            <img style="height: 300px;" [src]="'data:image/jpeg;base64,' + imageLoaded">
          </div>
        </div>
      </div>
    </div>

    <div fxLayoutAlign="end center" fxLayoutGap="1em">
      <button mat-button color="accent" type="button" [routerLink]="['/establecimientos']">CANCELAR</button>
      <button mat-raised-button type="submit" [disabled]="!form.valid" color="accent">CREAR</button>
    </div>
  </form>
</mat-card>